.pagelink {
	color: #444;
	font-weight: bold;
	font-size: 1.1em;
	text-decoration: none;
}

.pages {
	list-style-type: disc;
	margin-block: 1rem 0;
}

.pages::marker {
	color: #444;
	font-size: 1.1em;
}

nav{
	.acd-check {
		display: none;
	}

	.acd-label {
		cursor: pointer;
		position: relative;
		color: #444;
		font-weight: bold;
		display: block;
		margin-bottom: 0;
		border-bottom: solid 1px #ccc;
		padding: 1em 0.5em 0.5em 0.5em;
	}

	.acd-content{
		height: 0;
		opacity: 0;
		visibility: hidden;
	}

	.acd-check:checked + .acd-label + .acd-content {
		height: auto;
		opacity: 1;
		visibility: visible;
	}

	.acd-check:checked + label::after {
		transform: rotate(90deg);
	}

}

nav label::after {
  content: "❯";
	font-size: 1em;
  color: #444;
	font-weight: bold;
  position: absolute;
	right: 1em;
	transition: all 0.2s ease-out
}

nav h1:hover {
	text-decoration: underline;
}

nav label:hover {
	color: #3066a0;
}

nav a:hover {
	color: #3066a0;
}

nav ul {
	padding: 0;
	margin-block: 0;
  position: relative;
}

nav ul li {
  margin-block: 0 !important;
  line-height: 1.5;
  padding: 0.5em 1em;
  list-style-type: none !important;
}
