<!DOCTYPE html>
<html
  class=""
  lang="{{ .Site.LanguageCode }}"
  prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#"
>
<head>
{{ partial "meta.html" . }}
<title>{{ .Title }}</title>
<link rel="canonical" href="{{ .Permalink }}" />
{{ $title := .Title }}
{{ with .OutputFormats.Get "RSS" }}
  <link
    href="{{ .RelPermalink }}"
    rel="alternate"
    type="application/rss+xml"
    title="{{ $title }}"
  />
{{ end }}
<!-- Style sheets -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/nav.css" />
</head>
  <body
    lang="{{ .Site.LanguageCode }}"
    class="sans-serif w-90 w-60-ns center center-ns mv2 mv5-ns"
  >
    <div id="content" class="container">
      {{- partial "header.html" . -}}
      {{- partial "nav.html" . -}}
      <main class="main">
        {{ block "main" . -}}{{ end -}}
      </main>
      {{- partial "footer.html" . -}}
    </div>
  </body>
</html>
